$header-height: 3em;
$selector-height: 6em;
$selector-button-size: 4em;

@mixin mediaTablet() {
  @media screen and (max-width: 600px) { font-size: 14px; }
}

._fullsize {
  position: absolute;
  top: 0;
  right: 0;
  bottom:0;
  left: 0;
}
